Source: ros-kilted-gtsam2mrpt-serial
Section: misc
Priority: optional
Maintainer: "Jose-Luis Blanco-Claraco" <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-kilted-gtsam, ros-kilted-mola-common, ros-kilted-mrpt-containers, ros-kilted-mrpt-io, ros-kilted-mrpt-math, ros-kilted-mrpt-poses, ros-kilted-mrpt-random, ros-kilted-mrpt-rtti, ros-kilted-mrpt-serialization, ros-kilted-mrpt-system, ros-kilted-ros-workspace
Homepage: https://github.com/MRPT/gtsam2mrpt_serial
Standards-Version: 3.9.2

Package: ros-kilted-gtsam2mrpt-serial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-gtsam, ros-kilted-mola-common, ros-kilted-mrpt-containers, ros-kilted-mrpt-io, ros-kilted-mrpt-math, ros-kilted-mrpt-poses, ros-kilted-mrpt-random, ros-kilted-mrpt-rtti, ros-kilted-mrpt-serialization, ros-kilted-mrpt-system, ros-kilted-ros-workspace
Description: A C++ library offering a GTSAM ⇆ mrpt-serialization bridge.
